body {
    padding-top: 30px;
    background-color: #eee
}

header {
    background-color: lightgreen;
    height: 6em;
    text-align: center;
    margin-bottom: 10px
}

h1 {
    font-size: 2.5em;
    float: left;
    padding-left: 50px
}

form {
    text-align: center;
    float: center;
}

.js-query {
    height: 30px;
    width: 300px;
}

h2 {
    font-size: 35px;
    text-align: center;
    padding-right: 50px;
}

.js-search-results {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 3px;
    margin-left: 5px;
}

.title, 
.description {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    width: 75%;
    padding-top: 5px;
    padding-right: 2rem;
}

.results {
    font-size: 15px;
}

img {
    align-items: left;
    height: 100px;
    width: 200px;
    float: left;
}

#thumbnail {
    float: left;
  
}

/*ipad and up*/

